*~
.settings
.buildpath
.project
.idea/
vendor/
composer.phar
composer.lock
build/build*/
error.log
ergebnis.txt
result.txt
phpunit.txt
resources/browscap-*/
tests/create-tests.php
cache/*
!cache/.gitkeep
tests/temp/*.php
tests/temp/*.ini
.php-cs-fixer.cache
.phplint-cache
.phpunit.result.cache
.phpcs.cache
.stylelintcache
infection-*.log
rewrite*.php
.reports/
node_modules/
.build/
package-lock.json
npm-shrinkwrap.json
.reports
*.bak
*.txt
log/
/public/dist/
/public/js/*.js
/public/js/*.map
/public/js/*.d.ts
/cypress/**/*.js
/cypress/**/*.map
/cypress/**/*.d.ts
tsup.config.js
